$default:       #1E1B52 !default;
$primary:       #00D994 !default;
$secondary:     #C45BED !default;

$highlited-color: #FA6F6F !default;

$screen-medium-size: 768px;
$screen-small-size: 576px;

